{% extends 'base.html' %}

{% block body %}
<h3 class="m-4">Tesouro IPCA mais longo: </h3><p>
<div class="row">
  <div class="col-12">
    {% if valores_aplicados %}
    <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Student Records
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Ativo</th>
                  <th scope="col">Valor aplicado</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Preço Médio</th>
                  <th scope="col">Coração Atual</th>
                  <th scope="col">Corretora</th>
                  <th scope="col">Saldo Bruto</th>
                  <th scope="col">Resultado</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for valor_aplicado in valores_aplicados %}
                  <tr>
                    <td>{{ valor_aplicado.ativo }}</td>
                    <td>R$ {{ valor_aplicado.total|floatformat:2 }}</td>
                    <td>{{ valor_aplicado.quantidade }}</td>
                    <td>VALOR</td>
                    <td>VALOR</td>
                    <td>{{ valor_aplicado.corretora__nome}}</td>
                    <td>VALOR</td>
                    <td>VALOR</td>

                    <td>
                      <button type="button" class="btn btn-success me-1" href="" data-bs-toggle="modal" data-bs-target="#myModal{{ativo.id}}">
                        <i class="fa-solid fa-circle-info fa-lg"></i>
                      </button>

                      <!-- Modal - View Student -->
                      <div class="modal" id="myModal{{ativo.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Student: {{ ativo.ativo }}
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <ul class="list-unstyled">
                                <li>Ativo: <strong>{{ valor_aplicado.ativo }}</strong></li>
                                <li>First Name: <strong>{{ student.first_name }}</strong></li>
                                <li>Last Name: <strong>{{ student.last_name }}</strong></li>
                                <li>Email: <strong>{{ student.email }}</strong></li>
                                <li>Field of Study: <strong>{{ student.field_of_study }}</strong></li>
                                <li>GPA: <strong>{{ student.gpa }}</strong></li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <a class="btn btn-warning me-1" href="#">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                      </a>

                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="1">
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      </button>

                      <!-- Modal - Delete Student -->
                      <div class="modal" id="#" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Student: {{ student.first_name }} {{ student.last_name }}
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete this student?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="#" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </p>
      </div>
    </div>
    {% else %}
      <h5 class="alert alert-primary ms-4 me-4">Não há ativos para exibir.</h5>
    {% endif %}
  </div>
</div>


{% endblock body %}